.contact {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
  opacity: 0.5;
  overflow: hidden;
}

.contact__rectangle {
  position: absolute;
  width: 900px;
  height: 600px;
  left: 50%;
  top: 50%;
  padding: 20px 60px;
  border: 6px solid #fff;
  transform: translate(-50%, -50%);
  background-color: transparent;
  user-select: none;
}

.contact__rectangle::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100px;
  background-color: #fff;
  top: 40%;
  left: 0;
}

.contact__rectangle::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100px;
  background-color: #fff;
  top: 40%;
  right: 0;
}

.contact__rectangle-title {
  background-color: transparent;
  width: 100%;
  margin: 2rem 0;
}

.contact__rectangle-title h2 {
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

.contact__rectangle-input {
  width: 100%;
  background-color: transparent;
  position: relative;
}

.contact__rectangle-input label {
  position: absolute;
  top: 40%;
  background-color: #000;
  color: #999;
  left: 22px;
  transition: 0.25s ease;
  pointer-events: none;
  user-select: none;
}

.contact__rectangle-input input {
  background-color: transparent;
  border: 2px solid #fff;
  height: 4rem;
  margin: 20px 0;
  padding: 0 20px;
  color: #fff;
  width: 95%;
  font-size: 1.8rem;
  outline: none;
}

.contact__rectangle-input input:not(:placeholder-shown) + label,
.contact__rectangle-input input:focus + label {
  top: 8px;
  padding: 0 20px;
}

.contact__rectangle-input input:focus {
  border: 2px solid #fc602f;
}

.contact__rectangle-btn {
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  background-color: #fc602f;
  color: #fff;
  border: none;
  height: 4rem;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 1.6rem;
}

.contact__rectangle-btn:hover {
  background-color: #fff;
  color: #000;
}

.contact__image {
  position: absolute;
  background-color: transparent;
  right: 1.6rem;
  animation: jump ease 4s infinite;
  user-select: none;
}

.contact__image img {
  background-color: transparent;
  width: 400px;
}

.contact__back {
  position: absolute;
  top: 2.8rem;
  right: 3rem;
  font-family: "Pacifico", cursive;
  font-size: 1.6rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

@keyframes jump {
  0% {
    bottom: -20rem;
  }

  50% {
    bottom: 4rem;
  }

  100% {
    bottom: -20rem;
  }
}
