.rectangle-home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64vw;
  height: 55vh;
  background: transparent;
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.rectangle1 {
  flex: 1;
  border-color: #fff transparent #fff #fff;
  border-width: 2px;
  border-style: solid;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  user-select: none;
}

.rectangle1_left_title {
  background-color: transparent;
  color: #fcf6f4;
  font-size: 8rem;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 3rem;
}

.rectangle1_left_title2 {
  background-color: transparent;
  color: #fcf6f4;
  margin-left: 3rem;
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif;
}

.rectangle1_left_title3 {
  background-color: transparent;
  color: #969391;
  margin-left: 3rem;
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
}

.rectangle2 {
  flex: 1;
  border-color: #000 #000 #000 transparent;
  border-width: 2px;
  border-style: solid;
  background: #fcf6f4;
  user-select: none;
}

.rectangle2_img {
  width: 100%;
  height: 100%;
}
